# Optional overrides
AZS_POLL_SECONDS=300
AZS_CACHE_TTL_SECONDS=60
AZS_REQUEST_TIMEOUT=20
AZS_DB_PATH=data/azs.sqlite3

# Usually leave these unchanged:
AZS_GEOPORTAL_BASE_URL=https://azs.geoportal40.ru/
# AZS_GEOPORTAL_API_URL=https://azs.geoportal40.ru/api/v1/tables/geoportal40/maps/azs/tables/1/geojson?srid=4326&fields=id&fields=ai92&fields=ai95&fields=dt&fields=ai98&fields=ai100&fields=ai95_1&fields=dt_1&fields=name2&fields=name3&fields=address
